@font-face {
  font-family: "Anek-bold";
  src: url("/fonts/AnekKannada-Bold.ttf");
}

@font-face {
  font-family: "Cairo-bold";
  src: url("/fonts/Cairo-Bold.ttf");
}

@font-face {
  font-family: "Cairo-semibold";
  src: url("/fonts/Cairo-Semibold.ttf");
}

@font-face {
  font-family: "Plus-Jakarta-bold";
  src: url("/fonts/PlusJakartaSans-Bold.ttf");
}

@font-face {
  font-family: "Plus-Jakarta-extra-bold";
  src: url("/fonts/PlusJakartaSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Plus-Jakarta-medium";
  src: url("/fonts/PlusJakartaSans-Medium.ttf");
}

@font-face {
  font-family: "Plus-Jakarta-medium-italic";
  src: url("/fonts/PlusJakartaSans-MediumItalic.ttf");
}

.anek-bold {
  font-family: "Anek-bold", serif !important;
}

.cairo-bold {
  font-family: "Cairo-bold", serif !important;
}

.cairo-semibold {
  font-family: "Cairo-semibold", serif !important;
}

.plus-Jakarta-bold {
  font-family: "Plus-Jakarta-bold", serif !important;
}

.plus-Jakarta-extra-bold {
  font-family: "Plus-Jakarta-extra-bold", serif !important;
}

.plus-Jakarta-medium {
  font-family: "Plus-Jakarta-medium", serif !important;
}

.plus-Jakarta-medium-italic {
  font-family: "Plus-Jakarta-medium-italic", serif !important;
}
